body {
	margin: 0;
	padding: 0;
	font: 14px "Maven Pro", tahoma;
    background: #dadada;
}

a {
	text-decoration: none;
    color: #000;
}

h1 {
    font-weight: normal;
}

h3 {
    font-weight: normal;
    font-size: 26px;
    text-transform: uppercase;
}

.frame {
	width: 1000px;
	margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 20px #333;
}

header {
    position: relative;
    height: 161px;
    border-bottom: 6px #000 solid;
    background: url(/images/template/header.gif) top left repeat-x;
}

header h1 {
    margin: 0;
}

header h1 .intro {
    position: absolute;
    left: 220px;
    top: 50px;
    width: 110px;
    font-size: 19px;
    text-align: right;
    text-transform: uppercase;
}

header h1 .name {
    position: absolute;
    left: 350px;
    top: 19px;
    font-size: 79px;
    font-family: Sacramento;
}

header h2 {
    position: absolute;
    left: 223px;
    top: 105px;
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

ul.navigation, ul.navigation ul {
    margin: 0;
    padding: 0;
    font-size: 16px;
    list-style: none;
    text-transform: uppercase;
}

ul.navigation {
    float: left;
    width: 200px;
    border-right: 6px #000 solid;
}

ul.navigation ul {
    display: none;
    font-size: 13px;
}

ul.navigation li a {
    display: block;
    text-align: right;
    padding: 10px 10px 10px 0;
}

ul.navigation ul li a {
    border-bottom: 1px #000 solid;
}

ul.navigation li.active > a {
    background: #000;
    color: #fbf93e;
}

ul.navigation li a:hover {
    background: #000;
    color: #fbf93e;
}

ul.navigation ul.expanded {
    display: block;
    background: #f9ce37;
}

article {
    min-height: 430px;
    margin: 0 0 0 200px;
    padding: 0 20px 50px;
    border-left: 6px #000 solid;
}

form.contact label {
    display: block;
    width: 500px;
    margin: 0 0 15px;
    font-size: 18px;
    padding: 5px 0 5px 10px;
    border: 1px #000 solid;
}

form.contact input[type=text], textarea {
    border: 0;
    font-size: 18px;
    font-family: "Maven Pro";
    outline: none;
}

form.contact input[type=text] {
    width: 430px;
}
form.contact textarea {
    width: 490px;
    height: 150px;
}

form.contact input[type=submit] {
    border: 0;
    background: #fbf93e;
    font-size: 18px;
    font-family: "Maven Pro";
    border: 1px #000 solid;
    cursor: pointer;

}

p.social {
    height: 32px;
}

p.social a {
    display: block;
    width: 32px;
    height: 32px;
    float: left;
    margin: 0 10px 0 0;
    background: url(/images/template/social.png) top left no-repeat;
}

p.social a.linkedin {
    background-position: -32px 0;
}

p.social a.twitter {
    background-position: -64px 0;
}

footer {
    height: 26px;
    padding: 8px 10px 0;
    border-top: 6px #fbf93e solid;
    background: url(/images/template/footer.gif) top left repeat-x;
}

footer .ninja {
    float: right;
    width: 16px;
    height: 16px;
    background: url(/images/template/ninja.png) top left no-repeat;
    outline: none;
}